.companies {
    padding: 20px;
}

.companies h1 {
    margin-bottom: 10px;
}

.companies p {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #1976d2;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
