/* Navbar */

.navbar {
    width: 100%;
    height: 70px;
    background: #111827;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 35px;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* Logo */

.logo h2{
    font-size:24px;
    font-weight:600;
    letter-spacing:1px;
}

/* Profile */

.profile{
    width:45px;
    height:45px;

    border-radius:50%;

    background:#10B981;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:22px;

    cursor:pointer;

    transition:.3s;
}

.profile:hover{
    transform:scale(1.08);
    background:#059669;
}

@media(max-width:768px){

    .navbar{
        padding:0 20px;
    }

    .logo h2{
        font-size:18px;
    }

}