.sidebar {
    width: 250px;
    min-height: calc(100vh - 75px);
    background: #0f172a;
    color: white;
    position: fixed;
    left: 0;
    top: 75px;
    padding: 25px 0;
}

.sidebar-title {
    text-align: center;
    margin-bottom: 25px;
    color: #60a5fa;
    font-size: 24px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 16px 25px;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
}

.sidebar ul li:hover {
    background: #2563eb;
    padding-left: 35px;
}

@media (max-width:768px){

    .sidebar{
        width:200px;
    }

}