.sidebar {
    width: 220px;
    min-height: 100vh;
    background-color: #2563eb;
    list-style: none;
    margin: 0;
    padding: 20px 0;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar li {
    padding: 15px 25px;
    font-size: 18px;
    transition: 0.3s;
}

.sidebar li:hover {
    background-color: #1d4ed8;
}

/* Active Link */
.sidebar a.active li {
    background-color: #1e40af;
    border-left: 5px solid yellow;
    font-weight: bold;
}
