.dashboard{

    width:100%;

}

.dashboard h1{

    color:#1e3a8a;

    font-size:34px;

    margin-bottom:10px;

}

.dashboard-subtitle{

    color:#64748b;

    margin-bottom:30px;

}

.dashboard-cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

    gap:25px;

}

.dashboard-card{

    background:white;

    padding:30px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

    border-top:5px solid #2563eb;

}

.dashboard-card:hover{

    transform:translateY(-8px);

}

.dashboard-card h2{

    font-size:45px;

    color:#2563eb;

    margin-bottom:10px;

}

.dashboard-card p{

    font-size:18px;

    color:#555;

}

.dashboard-empty{

    margin-top:40px;

    background:white;

    padding:50px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.dashboard-empty h2{

    color:#dc2626;

    margin-bottom:10px;

}

.dashboard-empty p{

    color:#64748b;

}

.dashboard-success{

    margin-top:35px;

    background:#dbeafe;

    color:#1e3a8a;

    padding:20px;

    border-radius:10px;

    text-align:center;

}