.Main {
    display: flex;
}

.content {
    margin-left: 250px;
    margin-top: 75px;
    margin-bottom: 60px;
    padding: 30px;
    width: calc(100% - 250px);
    min-height: calc(100vh - 135px);
    background: #f4f7fc;
}

button {
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #1d4ed8;
}